<!doctype html>
<html>
<head>    
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Segunda entrega</title>
</head>
<body style="background-color: #fcfdfc;">
 <div class="container">
   <div class="row">
            <img src="img/banner.jpg" width="100%">    
  </div>
  <div class="container" >
    <hr/>
     <nav class="navbar navbar-light" >
        <a href="/">Home</a>
        <a href="/consultar">Consultar cursos Disponibles</a>
        <a href="/formulario">Registrar cursos</a>
        <a href="/inscribir">Proceso de Inscripcion</a>
        <a href="/int">Consultar Inscritos</a>
     </nav>
    <hr/>
  </div>
  