{{>header}}
 <div class="row">
   <div class="col-sm-4">
      <h2 style= "color: #09130c;">Educacion continua</h2>
      <br>
      <br>
      <p style="color: #09130c;">En este espacio encontraras una variedad de cursos en los cuales puedes hacer parte y obtener nuevas habilidades</p>
   </div>
   <div class="col-sm-8">
       <img src="img/home.jpg" class="img-fluid"/>
   </div> 
 </div>
{{>footer}}
